<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEliteMMONetworkValidation" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ext.elitemmonetwork.com/Services/elitevalidation2/EliteMMONetworkValidation.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEliteMMONetworkValidation"
                contract="EliteMMOValidation.IEliteMMONetworkValidation" name="BasicHttpBinding_IEliteMMONetworkValidation" />
        </client>
    </system.serviceModel>
</configuration>